body {
  background: #fff;
  color: #404041;
  padding: 0;
  margin: 0;
  font-family: Courier New,monospace;
  line-height: 1.5;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: '- ';
  padding-left: 1em;
}

a {
  color: #7b8323;
}

#above-fold {
  background: #9e98ab;
  padding: 3% 0 3% 0;
}

#below-fold {
  background: #07093D;
  color: #aaba5c;
  padding: 3% 0 3% 0;
}

#end-fold {
  background: #fff;
  padding: 3% 0 3% 0;
  margin: 0 auto;
}

#emacs-berlin-lockup {
  margin-bottom: 20px;
}

.intro-info {
  font-size: 23px;
  text-align: center;
  color: #fff;
}

.intro-info p {
  margin-bottom: 0;
}

.dates-times {
  font-weight: 900;
  color: #a3b239;
}

h3 {
  color: #aaba5c;
  font-size: 23px;
  font-weight: 900;
}

.buffer-footer {
  padding-bottom: 4em;
}

.mode-line {
  position: fixed;
  bottom: 1.4em;
  width: 100%;
  font-family: Courier New,monospace;

  border-bottom: 1px solid gray;

  background: #aaba5c;

  height: 1.4em;
  line-height: 1em;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.minibuffer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Courier New,monospace;

  background: #dee28f;

  height: 1.4em;
  line-height: 1em;
  padding: 0.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.text-cursor {
  background: black;
  width: 1em;
  height: 1em;
  display: none;
}
