<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hispa-Emacs </title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/screen.css" />
    <script src="js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{ content }}

    <footer class='buffer-footer'>
      <div class="row">
          <div class="large-12 columns">
	      <ul>
		  <li><a href="https://gitlab.com/emacsorg/hispa-emacs/" target="_blank">Código fuente del Sitio Web disponible en Gitlab</a></li>
		  <li><a href="mailto:hola@hispa-emacs.org" title="Enviar e-mail a los organizadores">E-mail de los organizadores</a></li>
	      </ul>
          </div>
      </div>
    </footer>

    <footer class='mode-line'>
      U:--- {{page.path}}&lt;hispa-emacs.org&gt;&nbsp;&nbsp;&nbsp;Git:gh-pages&nbsp;&nbsp;(Markdown Jekyll)
    </footer>
    <footer class='minibuffer'></footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/sillyness.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
